<%- include("partials/header.ejs") %>
<div class="container-fluid">
    <div class="mb-3">
        <form action="/submit" method="post">
          <label for="post-text" class="form-label"
            >Scrivi il tuo post</label
          >
          <textarea
            class="form-control"
            id="post-text"
            name="post-text"
            rows="3"
          ></textarea>
          <input type="submit" class="btn btn-primary"/>
        </form>
      </div>
</div>


<%- include("partials/footer.ejs") %>
