<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Weekday Warrior</title>
</head>
<body>
    <h1>Hey, it's <%= dateType %>, <%= advice%> !</h1>
</body>
</html>